
<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @product.pd_name %>
    </h2>
    
    <div class="item-img-content">
      <%= image_tag @product.pd_image ,class:"item-box-img" %>
        <% if TestProductInfo.exists?(product_id: @product, tester_id: current_tester) %>
          <div class="sold-out">
            <span>テスト済み!!</span>
          </div> 
        <% end %>
    </div>

    <div class="item-price-box">
      <b><%= "評価報酬金額" %></b>
      <span class="item-price">
        <%= "¥ #{@product.pd_review_reward}" %>
      </span>
      <b><%= "依頼企業" %></b>
      <span class="item-postage">
        <%= "#{@product.company.company_name}" %>
      </span>
    </div>
  
      <%# テスター表示画面 %>
      <% if tester_signed_in? %>
        <%# テスト申請済みの場合(製品idとテスターidが一致するテスト申請履歴は存在する？)  %>
        <% if TestProductInfo.exists?(product_id: @product, tester_id: current_tester) %>
          <%# 未評価の場合 %>
          <% unless Review.exists?(product_id: @product, tester_id: current_tester) %>
            <%= link_to "評価する", new_test_product_info_review_path(@test_product_info.id), method: :get, class:"item-red-btn"%>
          <% end %>
        <%# 在庫がまだある場合 %>
        <% elsif @product_count >= 1 %>  
          <%= link_to "テスト申請画面に進む", new_product_test_product_info_path(@product.id), method: :get, class:"item-red-btn"%> 
        <% end %>
      <% end %>

      <%# 企業がログイン状態 ＆ 企業が出品した製品の場合 %>
      <% if company_signed_in? && current_company == @product.company %>
        <%if @test_product_infos.present? %>
        <%= link_to "企業用：レビュー評価ページ", test_product_info_review_on_reviews_path(@test_product_info.id), method: :get, class:"item-bk-btn"%>
        <% end %>
      <% end %>

      <div class="item-info">  
        <%= "商品説明" %>
      </div>
      <div class="item-explain-box">  
        <%= @product.pd_info %>
      </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">企業</th>
          <td class="detail-value"><%= @product.company.company_name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @product.pd_category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">予定テスター数</th>
          <td class="detail-value"><%= @product.pd_stock %></td>
        </tr>
        <tr>
          <th class="detail-item">募集締め切りまでの人数</th>
          <td class="detail-value"><%= @product_count %></td>
        </tr>
       
      </tbody>

