 
<div class="review-main">
  <%= form_with model: @review, url: test_product_info_reviews_path, method: :post, class: 'registration-main', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="weight-bold-text">
        良い点
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :good_review, class:"review-text", id:"pd-name" %>


      <div class="weight-bold-text">
        悪い点（改善点）
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :bad_review, class:"review-text", id:"bad-review" %>
      <div class="weight-bold-text">
        意見要望
      </div>
      <%= f.text_area :opinions_requests, class:"review-text", id:"opinions-requests" %>

      <div class="actions">
        <%= f.submit "評価する", class: "red-btn" %>
      </div>
    
  <% end %>
</div>